
  /* ABOUT SECTION */
#about {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
  line-height: 1.8;
  font-size: 18px;
  background: #111;
  border-radius: 16px;
}

#about h2 {
  color: #f5c518;
  margin-bottom: 20px;
}

#about p {
  color: #ddd;
  margin-bottom: 15px;
}
.card {
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

.card p {
  font-weight: bold;
  letter-spacing: 0.5px;
}
.fade-in {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
