body {
  background-color: #000000;
  color: #eaeaea;
  line-height: 1.8;
}

/* HERO */
header {
  background: 
    linear-gradient(to bottom, rgba(0,0,0,0.85), rgba(0,0,0,0.95)),
    url("https://images.unsplash.com/photo-1549924231-f129b911e442");
  background-size: cover;
  background-position: center;
  padding: 110px 20px;
  text-align: center;
}

