body {
  background-color: #000000;
  color: #eaeaea;
  line-height: 1.8;
}

/* HERO */
header {
  background: 
    linear-gradient(to bottom, rgba(0,0,0,0.85), rgba(0,0,0,0.95)),
    url("https://images.unsplash.com/photo-1549924231-f129b911e442");
  background-size: cover;
  background-position: center;
  padding: 110px 20px;
  text-align: center;
}
/* HERO SECTION */
.hero {
  position: relative;
  height: 70vh;
  background-image: url("https://images.unsplash.com/photo-1542379653-b928db1b4956");
  background-size: cover;
  background-position: center;
  border-radius: 0 0 40px 40px;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.95)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 3rem;
  color: #f5f5f5;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.hero p {
  color: #bcbcbc;
  font-size: 1.1rem;
  max-width: 600px;
}

